/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@font-face {
    font-family: 'GillSansAltOneWGLRegular';
    src: url('fonts/gsa_wg-webfont.eot');
    src: url('fonts/gsa_wg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gsa_wg-webfont.woff') format('woff'),
         url('fonts/gsa_wg-webfont.ttf') format('truetype'),
         url('fonts/gsa_wg-webfont.svg#GillSansAltOneWGLLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
} 
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
html{
	overflow: hidden;
	position: fixed;
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	background: #fff;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    overflow: hidden;
    	position: fixed;
}
#intro{
	background: url('../img/philips-logo.png') no-repeat center;
}

/* Portrait layout (default) */
#bottomcarousel .touchcarousel-item {
	margin-right: 0;

	height: 200px;
}
.page {
    position:absolute;             /* position in the center of the screen */
    left:0px;
    bottom: 0px;
    right: 0px;
    /* text area width */
    text-align:center;
    overflow: hidden;

}
.page h3{
	display: none;
}

.btn-large{
	clear: both;
	margin: 20px auto;
	height: 15%;
	width: 80%;
	
}
/* Landscape layout (with min-width) */
@media screen and (max-width:400px) {
	#producttree a{
		max-width: 180px;
		text-overflow: ellipsis;
	}
    
}

h1 {
    font-size:3em;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}
.hidden{
	display: none;
}
div.jvectormap-label {
	position: absolute;
	width: 275px;
	display: none;
	background: #fff;
	border: 1px solid #b9bbc7;
	color: #000;
	font-family: sans-serif, Verdana;
	font-size: smaller;
}
.ui-btn-right{
	z-index:100000;
}
.ui-content{
	padding: 0px!important;
}
#header .ui-btn { height: 30px; width: 30px; font-size: 48px;moz-border-radius : 4 px ; -webkit-border-radius :  4px ; border-radius :  4px ; }
#header .ui-icon, #header .ui-icon-searchfield::after  {moz-border-radius : 0 px ; -webkit-border-radius :  0px ; border-radius :  0px ;}
.ui-panel-dismiss-display-push { display: none;}


body {
	-webkit-text-size-adjust: none;

}
.pages h3 {
	font-size: 20px;
	font-weight: normal;
	color: #0b5ed7;
	padding-bottom: 20px;
	margin: 0;
}
.total_value{
	color: #0b5ed7;
	display: inline;
	font-size: 18px;	
}
#info span{
	text-transform: lowercase;
	color: #0b5ed7;
	padding-left: 5px;
	padding-right: 10px;
	font-size: 18px;	
}
#info span.dollar{
	padding-left: 0px;
	padding-right: 0px;
		font-size: 12px;
}
#menu {
	float: right;
	height: 100%;
	width: 250px;
	position: fixed;
	display: none;
}
#info {
	border-top: 1px solid #ccc;
	background: #fff;
	height: 200px!important;
	width: 100%;
	position: absolute;
	bottom: -200px;
	font-family: GillSansAltOneWGLRegular;
	font-size: 12px;
}

.ui-header{
	border: none;
}
.ui-li-static.ui-li{
	padding: 0px;
}
.ui-btn-inner{
	text-align: left;	
}

.jvectormap-label{
	display: none!important;
}
#producttree_temp{
	display: none;
}
#producttree .ui-link-inherit{
	display: inline-block;
	margin: 0 0 0 20px;
	padding: 0px;
	font-size: 14px;
}

#producttree .ui-btn-icon-right{
	height: 40px;
}
#producttree .ui-btn-inner.ui-li{
	padding-top: 10px;
}
li[data-role=list-divider]{
	height: 25px
}
#btn_back{
	float: left!important;
	margin:0 0 0 -4px!important;
}
span#current_filter{
	display: inline-block!important;
	float: right;
	padding-top: 5px!important;
}
#wrapper{
	height: 100%;
}
.select_mru{
	-ms-transform: scale(1.5); 
	-moz-transform: scale(1.5); 
	-webkit-transform: scale(1.5); 
	-o-transform: scale(1.5);  
	display: inline-block;
	
	position: relative!important;
	left: 0px!important;
	top: 0px!important;
}
.cbxoverlay{
	position: absolute;
	width: 50px;
	height: 40px;
	left: 0px;
	top: -14px;
	background: transparent;
	z-index: 10;
}
.showMenu{
	border-color: #fff!important;
	background-color: rgb(57, 107, 158);
	background-image: linear-gradient(rgb(95, 156, 197), rgb(57, 107, 158));	
	
}
.tc-paging-container {
	margin-top: -29px;
}
.touchcarousel-container{
	height: 200px;
	margin: 0 auto;
}
.slidepanel{
	float:left;
	position: relative;
	display: inline;
	padding: 3px;
	background: #FFF;
	border: 0;
}
/**
* Carousel with a single image per view
**/
#carousel-single-image {

	height: 200px;
	margin: 0 auto;			
	background: #ccc;
}
#carousel-single-image .touchcarousel-container {
	height: 100%;
}
#carousel-single-image .touchcarousel-item {
	margin-right: 0;

	height: 200px;
}
#carousel-single-image div.placeholder {

	height: 200px;
	margin: 0px 0 0 0px;	
	
	float:left;
	position: relative;
	display: block;
	padding: 10px;
	background: #FFF;
	border: 0;
	
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,0.6);
	box-shadow: 0 1px 6px rgba(0,0,0,0.6);
}
#carousel-single-image .tc-paging-container {
	margin-top: -29px;
}
.touchcarousel .tc-paging-centerer {
	float: left;
	position: relative;
	left: 50%;
}	