<h1><%= data.sitetitle %></h1>
<a href="#" onclick="app.loadPage('home')" class="btn btn-primary btn-large">Home</a>
<a href="#" onclick="app.loadPage('map')" class="btn btn-primary btn-large">Map</a>
<a href="#" onclick="app.loadPage('filter')" class="btn btn-primary btn-large">Filter Data</a>
<a href="#" onclick="app.loadPage('login')" class="btn btn-primary btn-large">Sign in</a>

<div class="navbar navbar-inverse navbar-fixed-bottom">
	<div class="navbar-inner"></div>
</div>